<%- include ../partials/header.ejs %>  <!-- This line calling header.ejs -->
<%- include ../partials/main_nav.ejs %> <!-- This line calling Partials.ejs -->
<!-- Main Content -->
<body class="titale3">
  <div class="main3" id="About"></div>
    <main>
        <div class="row3">
            <div class="col-md-offset-3 col-md-15">
                <div class="titels">
                    <h1><%= title %></h1>
                </div>
                <%- include ../partials/wikipedia3info.ejs %> <!-- This line calling Partials.ejs -->
                <h3 class="center">Mexico missions</h3>
                <% if(typeof displayName=='string' && displayName){ %>
                    <a href="/wikipedia3/add3"class="btn btn-primary" role="button">
                    <i class="fa-solid fa-plus"></i> Add Mission Information</a>
                <br>
                <% } %>
                <table class="table table-bordered table-striped table-hover">
                    <tr class="d-flex3">
                    <% if(typeof displayName=='string' && displayName){ %>
                        <th class="text-center col-2">Mission name</th>
                        <th class="text-center col-1">Time period</th>
                        <th class="text-center col-3">Team Leader </th>
                        <th class="text-center col-4">Description</th>
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                    <% } else { %>
                        <th class="text-center col-2">Mission name</th>
                        <th class="text-center col-1">Time period</th>
                        <th class="text-center col-3">Team Leader </th>
                        <th class="text-center col-6">Description</th>
                    <% } %>
                    </tr>
                    <% for(let count=0; count< Wikipedia3.length; count++) { %>
                        <tr class="d-flex3">
                        <% if(typeof displayName=='string' && displayName){ %>
                            <td class="text-center col-2"><%= Wikipedia3[count].missionname3 %></td>
                            <td class="text-center col-1"><%= Wikipedia3[count].date3 %></td>
                            <td class="text-center col-3"><%= Wikipedia3[count].leader3 %></td>
                            <td class="text-center col-4"><%= Wikipedia3[count].description3 %></td>
                            <td class="text-center col-1">
                                <a href="/wikipedia3/edit3/<%= Wikipedia3[count]._id %>"
                                    class='btn btn-primary'>
                                    <i class="fas fa-pencil-alt"></i> Edit 
                                </a>
                            
                            </td>
                            <td class="text-center col-1">
                                <a href="/wikipedia3/delete3/<%= Wikipedia3[count]._id %>"
                                    class='btn btn-danger'>
                                    <i class="fas fa-trash-alt"></i> Delete 
                                </a>
                            
                            </td>
                        <% } else { %>
                            <td class="text-center col-2"><%= Wikipedia3[count].missionname3 %></td>
                            <td class="text-center col-1"><%= Wikipedia3[count].date3 %></td>
                            <td class="text-center col-3"><%= Wikipedia3[count].leader3 %></td>
                            <td class="text-center col-4"><%= Wikipedia3[count].description3 %></td>
    
                        <% } %>

                        </tr>
                    <% } %>
                </table>

                <section class="Information2">
                    <!-- for more content on page for user with button tag to make page more attractive/*-->
                    <h2>Thank you, have a nice day...</h2>
                </section>

            </div>
        </div>

    </main>
</body>

<%- include ../partials/footer.ejs %> <!-- This line calling footer.ejs -->
